body{
background-color:hsl(0, 100%, 74%);
background-image: url("images/bg-intro-desktop.png");
Font size: 16px;
width:1440px;

}


body h3 {

background-color:hsl(248, 32%, 49%);


}


section {
width: 30%;
padding: 40px;
position:absolute;
right:150px;
}


.formulario{

    background:white;
    padding: 40px;
}
input {

height: 40px;
width:360px;
border-radius: 10px;
border-color:hsl(0, 100%, 74%);
display: block;
margin: 0 auto;

}

.attribution { 

font-size: 11px; 
text-align: center; 

}
.attribution a {

color: hsl(228, 45%, 44%); 

}

.botao{

    background:hsl(154, 59%, 51%);
    border-color:hsl(154, 59%, 51%);

}